<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,Microsoft.Practices.Unity" />

      <typeAlias alias="Widget" type="Gtk.Widget, 
                 gtk-sharp, Version=2.10.0.0, Culture=neutral, PublicKeyToken=35e10195dab3c99f"/>
    </typeAliases>

    <containers>
      <container>
        <types>
          <type
              type="Widget"
              mapTo="GtkNes.VolumeWidget,testproject"
              name="SoundView"
              />
          <type
              type="Widget"
              mapTo="GtkNes.FrontPanel,testproject"
              name="FrontPanel"
              />
          
          <type
              type="Widget"
              mapTo="GtkNes.CheatView,testproject"
              name="CheatPanel"
              />
          <type
            type="Widget"
            mapTo="GtkNes.AsmViewer,testproject"
            name="AsmViewer"
              />
          <type
            type="Widget"
            mapTo="GtkNes.DebugStepper,testproject"
            name="DebugStepper"
              />
          <type
            type="Widget"
            mapTo="GtkNes.DebuggerCPUStatusView,testproject"
            name="CPUStatus"
              />

          
        </types>
      </container>
    </containers>
  </unity>
</configuration>
